.leaflet-touch .leaflet-control-layers-control,
.leaflet-control-layers-control {
  z-index: 999;

  a.leaflet-control-layers-control-button {
    background: url(../icons/layers.svg) 0 0 no-repeat;
    background-size: 26px 26px;
    border-radius: 2px;
    background-position: 2px 2px;

    &.export{
      background:#FEA url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gcCCi8Vjp+aNAAAAGhJREFUOMvFksENgDAMA68RC7BBN+Cf/ZU33QAmYAT6BolAGxB+RrrIsg1BpfNBVXcPMLMDI/ytpKozMHWwK7BJJ7yYWQbGdBea9wTIkRDzKy0MT7r2NiJACRgotCzxykFI34QY2Ea7KmtxGJ+uX4wfAAAAAElFTkSuQmCC') no-repeat 5px;
    }
  }

  div.layers-control-panel {
    display: none;
  }

  .open {
    a.leaflet-control-layers-control-button {
      display: none;
    }

    div.layers-control-panel {
      display: block;
    }
  }
}